
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    /* border: 1px solid black; */

}

:root{
/* ## Colors */

/* ### Primary */

/* --Linear-gradient-(active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
--Red(input errors): hsl(0, 100%, 66%); */

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);
}

body{
    min-height: 100vh;
    font-size: 18px;
}

.main{
    width: 100%;
    height: 100%;
    min-width: 18.75rem;
}

.container_cards{
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 18.75rem;
    height: 13.125rem;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainer_cards{
min-width: 18.75rem;
width: 100%;
max-width: 20.625rem;
height: 100%;
position: relative;

}

.container_back-card{
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0.625rem;
    right: 0px;
    width: 16.875rem;
    height: 12.5rem;
}

.number-back-card{
    position: relative;
    left: 13.125rem;
    top: 3.625rem;
    font-size: 0.7rem;
    color: var(--White);
}

.container_front-card{
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -7.6875rem;
    width: 16.875rem;
    height: 12.5rem;
    padding: 1.25rem;
}
.card-logo{
    width: 3.125rem;
}

.container_date-user{
    position: relative;
    top: 2.5rem;
    display: flex;
    justify-content: space-between;
    color: var(--White);
    font-weight: 500;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 0.0625rem;

}
.number-front-card{
    position: relative;
    display: inline-block;
    top: 1.875rem;
    right: 0px;
    color: var(--White);
    width: 18.75rem;
    letter-spacing: 0.0625rem;
}

.container_form{
    padding: 1.25rem;
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    min-width: 18.75rem;
    /* display: none; */
}

.cardholder, .card-number, .date{
    margin:0.625rem 0;
}
 
.inputs{
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
    
}

.inputs:focus{
    outline: none;
    /* border: 1px solid; */
    border-image:linear-gradient(to bottom, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border-image-slice: 1;
    border-radius: 0.625rem;

}


.container_hidden{
    display: none;
    padding: 1.25rem;
    margin-top: 3.125rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 18.75rem;
}
.complete-icon{
    width: 6.25rem;
    margin: 3.125rem 0;
}

.title{
    color: var(--Very-dark-violet);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3125rem;
    margin-bottom: 1.25rem;
}
.subtitle{
    font-size: 1.3rem;
    color: var(--Dark-grayish-violet);
    margin-bottom: 3.125rem;
}
.continue-btn{
    padding: 1.25rem;
    width: 100%;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    border-radius: 0.625rem;
    border: none;
    cursor: pointer;
}


.submit{
    padding: 1.25rem;
    margin-top: 1.25rem;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    border-radius: 0.625rem;
    border: none;
    cursor: pointer;
}

.container_inputs-date{
    display: flex;
}

.container_date{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.container_date-month{
    width: 50%;

    display: flex;
    flex-direction: column;
}
.container_date-year{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.month, .year{
    margin-right: 10px;
}

.container_exp{
    display: flex;
    

}

.container_cvc{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.date-text{
    font-size: .8rem;
    font-weight: 500;
    color: var(--Very-dark-violet);
    margin: 0.3125rem 0;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

.span_cardnumber_empty,
.span_cardholder_empty,
.span_invalid_cardholder,
.span_month_empty, .span_year_empty, .span_cvc_empty, .span_wrong_format{
    margin-top: 0.3125rem;
    font-size: .6rem;
    color: red;
    display: none;
}

.card-number, .cardholder{
    font-size: .8rem;
    font-weight: 500;
    color: var(--Very-dark-violet);
    text-transform: uppercase;
    letter-spacing: 0.0625rem;

}
.subcontainer_form{
    display: flex;
    flex-direction: column;
    max-width: unset;
    z-index: 99;
}

@media (min-width:50rem){

    html{
        font-size: 20px;
        
    }
    main{
        display: flex;
    }

    .container_cards{
        min-height: 100vh;
        min-width: 100px;
        /* max-width: 200px; */
        width:30%;
        background-image: url(images/bg-main-desktop.png);
        background-size: cover;
        justify-content: center;
        align-self: center;
    }
    .subcontainer_cards{
        min-width: 10%;
        width: 100%;
        
        }

    .subcontainer_cards{
height: unset;
    }
    .container_form{
        /* width: 100%; */
        width: 70%;
        padding: 6.25rem 0% 6.25rem 10% ;
        /* min-width: 40.625rem; */
        justify-content: center;
        align-items: center;
    }
.subcontainer_form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    z-index: 99;
}

    .container_back-card{
       right: -30%;
    }
    .container_front-card{
        right: -45%;
        top: -10.625rem;
    }
}
